/*Globales*/

* {
    padding:0;
    border:0;
    margin:0;
}
.barra {
    color: white;
}

body {
    font-family: 'cabin', sans-serif;
    scroll-behavior: smooth;
    color: #ffffff;
}




/*Footer*/

