/*Globales*/

* {
    padding:0;
    border:0;
    margin:0;
}

.barra {
    color: white;
}

body {
    font-family: 'railway', sans-serif;
    scroll-behavior: smooth;
    color: #ffffff;
}



/*Footer*/

footer {
    padding-bottom: 0;
}
